/* styles go here */
.form-field {
  display: block;
  margin-top: 10px;
}

.field {
  margin-top: 10px;
}

.first {
  margin-top: 0;
}

.radios {
  display: inline;
}

.group {
  margin-bottom: 20px;
}
